@import url('./margin.css');
@import url('./padding.css');

.dis-flex {
  display: flex;
}

.cursor-pointer {
  cursor: pointer;
}

.flex-wrap{
  flex-wrap: wrap;
}

.card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.vertical-center {
  align-items: center;
  align-self: center;
}

.horizontal-center {
  justify-content: center;
  justify-items: center;
}

.float-right{
  float: right;
}

.flex-end{
  display: flex;
  justify-content: flex-end;
}